*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/***** header-part style *****/

.header{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    background-image: url('./images/banner/banner1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-secion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0 8%;
}
.hero-section_title-part{
    text-align: right;
    width: 50%;
}
.hero-section_title{
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    color: #151414;
    margin-bottom: 24px;
}
.hero-section-description{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 32px;
}
.primary-btn{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    background-color: #F15B22;
    padding: 20px 26px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

/***** main-part style *****/
.main{
    margin: 0 8%;
    background-color: #fff;
}

/**** failure-section style ****/
section{
    margin-top: 140px;
}
.failure-sec-container{
    display: flex;
    gap: 84px;
    align-items: center;
}
.failure-sec-img{
    max-width: 100%;
    width: 50%;
}
.failure-sec-details-part{
    width: 35%;
    margin-top: 100px;
}
.failure-sec_title{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    margin-bottom: 24px;
}
.failure-sec-description{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 16px
}
.failure-sec-failure-list{
    margin-top: 16px;
}
.failure-sec-failure-list li{
    list-style: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}
.failure-sec-failure-list i{
 color: #16D887;
 font-size: 16px;
 margin-right: 8px;
}

/**** planning-section ****/

.planning-sec-container{
    text-align: center;
}
.planning-sec-heading{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    margin-bottom: 57px;
}
.planning-sec-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 86px;
}
.planning-sec-content-box_img{
    max-width: 100%;
    margin-bottom: 18px;
}
.planning-sec-content-box_title{
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #151414;
    margin-bottom: 16px;
}
.planning-sec-content-box-info{
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    color: #737272;
}

/* planning section style */

.position-section{
    margin-bottom: 140px;
}
.position-container{
    background-image: url('./images/watch.png');
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    position: relative;
}
.position_cntent-box{
    position: absolute;
    background-image: url('./images/gradient2.png');
    width: 100%;
    height: 100%;
    border-radius: 10px;
    
}
.position_title{
    width: 50%;
    padding-top: 59px;
    padding-left: 64px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #fff;
    margin-bottom: 24px;
}
.gradient-sec_btn{
    margin-left: 64px;
}

/**** footer section style ****/
.footer-section{
    background: #151414;
}
.footer-sec-container{
    padding: 100px 8%;
    color: white;
    display: flex;
    gap: 301px;
}
.footer-sec_content-box{
    width: 60%;
}
.footer-sec_future-title{
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #fff;
    margin-bottom: 16px;
}
.footer-sec_future-dic, .footer-sec_email, .footer-sec_phone{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    margin-bottom: 16px;
}
.media-box{
    margin-left: -8px;
}
.media-box a{
    text-decoration: none;
    padding:0 8px;
}
.footer-newsletter{
    width: 40%;
    text-align: left;
}
.footer-newsletter_title{
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    color: #fff;
    margin-bottom: 31px;
}
input{
    background: transparent;
    border: none;
    border-radius: 10px;
}
input[type="email"]{
    width: 100%;
    padding: 15px;
    border: 1px solid #fff; 
    margin-bottom: 16px; 
}
input:focus{
    outline: none;
}
input::placeholder{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
}
.submit-btn{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    padding: 20px 36px;
    cursor: pointer;
    background: #fff;
    color:#F15B22;
}
